* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: #fff4e3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    background-color: #e6d5c1;
    /* position: fixed;
    width: 100%; */
}

header figure img {
    width: 100px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p {
    font-size: xx-large;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: #785d56;
    font-weight: bold;
    transition: ease .2s;
}

header nav ul li a:hover {
    color: #be4c54;
}

.hero {
    max-width: 1500px;
    margin: 30px auto 0;
    padding: 20px;
    background-color: #fff7ea;
    display: flex;
    -webkit-box-shadow: 1px 2px 16px 1px #000000;
    box-shadow: 1px 2px 16px 1px #000000;
    border-radius: 30px;
}

.hero article {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 30px;
    min-width: 800px;
}

.hero article h1 {
    font-size: 65px;
    color: #68504b;
}

.hero article p {
    color: #785d56;
    font-weight: bold;
    font-size: larger
}

.hero article a {
    background-color: #be4c54;
    max-width: 220px;
    min-height: 70px;
    color: #fff4e3;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border-radius: 10px;
    transition: ease .3s;
    font-weight: bold;
}

.hero article a:hover {
    background-color: #fff4e3;
    color: #be4c54;
    border: 1px solid #be4c54;

}

.hero figure {
    width: 60%;
}

.hero figure img {
    width: 100%;
    border-radius: 0 30px 30px 0;
}

.abt-us {
    max-width: 1500px;
    margin: 30px auto 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.abt-us article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #785d56;
}

.abt-us article h2 {
    font-size: 40px;
}

.abt-us article p {
    font-weight: bold
}

.abt-us figure {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.abt-us figure img {
    border-radius: 20px;
}

.abt-us figure img {
    width: 100%;
}

.abt-us aside {
    background-color: #f6efe3;
    width: 300px;
    border: solid 1px #eee2cd;
    padding: 30px;
}

.abt-us aside h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #204625;
    gap: 10px;
} 

.abt-us aside dl {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #785d56;
}

.abt-us aside dl dd {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #db8e93;
}

.menu {
    max-width: 1500px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #fff7ea;
    padding: 40px;
    border-radius: 10px 10px 0 0;
}
.menu h2 {
    font-size: 50px;
    color: #204625;
    width: 100%;
    text-align: center;
    
}

.menu table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

.menu table td, .menu table th {
    border: 1px solid gray;
    padding: 10px;
}
.center-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu table thead {
    background-color: #204625;
    color: #f6efe3;
}

.menu table tbody {
    color: #68504b;
    font-weight: bold;
}